<template>
  <div class="app-container">
<!--    <el-table-->
<!--      v-loading="listLoading"-->
<!--      :data="list"-->
<!--      element-loading-text="Loading"-->
<!--      border-->
<!--      fit-->
<!--      highlight-current-row-->
<!--    >-->
<!--      <el-table-column align="center" label="ID" width="95">-->
<!--        <template slot-scope="scope">-->
<!--          {{ scope.$index }}-->
<!--        </template>-->
<!--      </el-table-column>-->

<!--      <el-table-column label="Наименование документа" >-->
<!--        <template slot-scope="scope">-->
<!--          {{ scope.row.title }}-->
<!--        </template>-->
<!--      </el-table-column>-->

<!--      <el-table-column label="Описание" width="250" align="center">-->
<!--        <template slot-scope="scope">-->
<!--          {{ scope.row.pageviews }}-->
<!--        </template>-->
<!--      </el-table-column>-->

<!--      <el-table-column label="change" width="130" align="center">-->
<!--        <el-button type="primary" сlass="show-modal-button" @click="showModal">Изменить</el-button>-->
<!--      </el-table-column>-->



<!--      <el-table-column label="delete" width="120" align="center">-->
<!--        <el-button type="primary" @click="onDelete">удалить</el-button>-->
<!--      </el-table-column>-->

<!--    </el-table>-->
    <table class="db" style="width: 100%">
      <tr class="cell" style=" width: 100%; " >
        <td class="cell">id</td>
        <td class="cell">Наименование документа</td>
        <td class="cell">Описание</td>
        <td class="cell">Изменить</td>
        <td class="cell">Удалить</td>
      </tr>
      <tr v-for="item in posts.data" :key="item.posts">

        <td >{{ item.email}}</td>
        <td >{{ item.email}}</td>
        <td >{{ item.email}}</td>

        <td class="button" style="width: 250px"><button class="btn" @click="showModal" >Изменить</button></td>
        <td class="btn-del"><button class="btn" @click="onDelete">удалить</button></td>

      </tr>
    </table>
    <BaseModal ref="modal" />

  </div>
</template>

<script>
import BaseModal from './BaseModal.vue'
import { getList } from '@/api/table'
import axios from "axios";

export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      list: null,
      listLoading: true,
      posts:[],
    }
  },

  methods: {
    fetchData() {
      this.listLoading = true
      getList().then(response => {
        this.list = response.data.items
        this.listLoading = false
      })
    },
    onDelete(){
      this.title.splice(index,1);
    },
    showModal() {
      this.$refs.modal.show= true;
    }
  },
  components:{
    BaseModal
  },
  created() {
    // eslint-disable-next-line no-sequences
    axios.get('https://reqres.in/api/users?page/')
      .then(response => {
        this.posts = response.data
      })
  },
  mounted() {
    setTimeout(() => {
      console.log(this.posts.data)
    }, 2000)
  }
}
</script>
<style>
.btn{
  display: inline-block;
  color: #FFF;
  background-color: #409EFF;
  cursor: pointer;
  text-align: center;
  border: 1px solid #DCDFE6;
  transition: .1s;
  border-radius: 4px;
  padding: 10px 10px;
}
</style>
