<template>
  <div v-if="show" class="modal-shadow" @click.self="closeModal">
    <div class="modal">
<!--      <div class="modal-close">-->
<!--      <button class="close" @click="closeModal">&#10006;</button>-->
<!--      </div>-->
      <div class="app-container">
        <el-form ref="form" :model="form" label-width="120px">

          <el-form-item label="Название">
            <el-input v-model="form.name" />
          </el-form-item>

          <el-form-item label="Генеральные директоры">
            <el-input v-model="form.CEOs" placeholder="..." type="textarea"/>
          </el-form-item>

          <el-form-item label="Направление">
            <el-input v-model="form.direction"  placeholder="..." type="textarea" />
          </el-form-item>

          <el-form-item label="О предприятии">
            <el-input v-model="form.aboutTheCompany" placeholder="..." type="textarea" />
          </el-form-item>

          <!--      //ссылка на сайт-->

          <el-form-item label="Предметы деятельности">
            <el-input v-model="form.activity" placeholder="..." type="textarea" />
          </el-form-item>

          <el-form-item label="Сотрудники">
            <el-input v-model="form.employees" placeholder="..." type="textarea"/>
          </el-form-item>

          <el-form-item label="Вакансии">
            <el-input v-model="form.vacancies" placeholder="..." type="textarea" />
          </el-form-item>

          <el-form-item label="Контакты">
            <el-input v-model="form.contacts" placeholder="..." type="textarea" />
          </el-form-item>

          <el-form-item class="buttons">
            <el-button type="primary" @click="onSubmit">Create</el-button>
            <el-button @click="onCancel">Cancel</el-button>
          </el-form-item>

        </el-form>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      show:false,
      form: {
        name: '',
        CEOs: '',
        direction: '',
        aboutTheCompany: '',
        activity: '',
        employees: '',
        vacancies: '',
        contacts: ''
      }
    }
  },
  methods: {
    onSubmit() {
      this.$message('submit!');
      console.log(this.form);
    },
    onCancel() {
      this.show = false;
    },
    closeModal(){
      this.show = false;
    }
  }
}
</script>







<style scoped>
.line{
  text-align: center;
}
.buttons{
  display: flex;
  justify-content: space-around;
  margin-right: 60px;

}
.modal-shadow{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.39);
}
.modal {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  min-width: 630px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

</style>
