<template>
  <div class="app-container">
<!--    <el-table>-->
<!--      v-loading="listLoading"-->
<!--      :data="list"-->
<!--      element-loading-text="Loading"-->
<!--      border-->
<!--      fit-->
<!--      highlight-current-row-->

<!--      <ul>-->
<!--        <li v-for="item in posts.data" :key="item.posts">-->
<!--          {{ item.email }}-->
<!--        </li>-->
<!--      </ul>-->
<!--    <el-table-column align="center" label="ID" width="95">-->
<!--      <template slot-scope="scope">-->
<!--        {{ scope.row.email}}-->
<!--      </template>-->
<!--    </el-table-column>-->
<!--    <el-table-column label="Название предприятия" >-->
<!--      <div v-for="item in posts.data" :key="item.posts">-->
<!--        {{ item.email }}-->
<!--      </div>-->
<!--    </el-table-column>-->
<!--      <el-table-column label="Название предприятия" >-->
<!--        <tr v-for="item in posts.data" :key="item.posts">-->
<!--          {{item.email}}-->
<!--        </tr>-->
<!--      </el-table-column>-->



<!--      <ul id="example-1">-->
<!--        <li v-for="item in posts" :key="item.posts">-->
<!--          {{ item.color}}-->
<!--          {{ item.name}}-->
<!--        </li>-->
<!--      </ul>-->



<!--      <tr v-for="value in posts.data">-->
<!--        <td>{{ value.id }}</td>-->
<!--        <td>{{ value.name }}</td>-->
<!--        <td>{{ value.color }}</td>-->
<!--      <el-table-column label="change" width="250" align="center">-->
<!--        <el-button type="primary" сlass="show-modal-button" @click="showModal" >Изменить</el-button>-->
<!--      </el-table-column>-->

<!--      <el-table-column label="delete">-->
<!--        <el-button type="primary" @click="onDelete">удалить</el-button>-->
<!--      </el-table-column>-->
<!--&lt;!&ndash;      </tr>&ndash;&gt;-->


<!--    </el-table>-->

    <table class="db" style="width: 100%">
      <tr class="cell"  style="margin-bottom: 10px">
        <td class="cell">id</td>
        <td class="cell">Название предприятия</td>
        <td class="cell">Изменить</td>
        <td class="cell">Удалить</td>
      </tr>
      <tr v-for="item in posts.data" :key="item.posts">
        <td>{{ item.email}}</td>
        <td>{{ item.first_name}}</td>
<!--        <td><?php echo $data['Фамилия']; ?></td>-->
<!--        <td><?php echo $data['Имя']; ?></td>-->
<!--        <td><?php echo $data['Отчество']; ?></td>-->
<!--        <td><?php echo $data['phon']; ?></td>-->
        <td class="button" style="width: 250px;" ><button class="btn" @click="showModal">Изменить</button></td>
        <td class="btn-del"><button class="btn" @click="onDelete">удалить</button></td>

      </tr>
    </table>
    <BaseModal ref="modal" />
  </div>
</template>

<script>
import BaseModal from './BaseModal.vue'
import { getList } from '@/api/table'
import axios from "axios";


export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },


  data() {
    return {
      list: null,
      posts:[],

      listLoading: true
    }
  },
  // created() {
  //   this.fetchData()

  // },
  methods: {
    fetchData() {
      this.listLoading = true
      getList().then(response => {
        this.list = response.data
        this.listLoading = false
      })
    },
    showModal() {
      this.$refs.modal.show = true;
    },
    onDelete() {
      this.title.splice(index, 1);
    }
  },

  components: {
    BaseModal
  },
    created() {
      // eslint-disable-next-line no-sequences
      axios.get('https://reqres.in/api/users?page/')
        .then(response => {
          this.posts = response.data
        })
    },
    mounted() {
      setTimeout(() => {
        console.log(this.posts.data)
      }, 2000)
    }
  }
</script>
<style>
.btn{
  display: inline-block;
  color: #FFF;
  background-color: #409EFF;
  cursor: pointer;
  text-align: center;
  border: 1px solid #DCDFE6;
  transition: .1s;
  border-radius: 4px;
  padding: 10px 10px;
}
.cell{

}
td{
  margin-bottom: 6px;
}
</style>
