<template>
  <div class="app-container">

    <el-form ref="form" :model="form" label-width="120px" >

      <el-form-item label="Название конкурса">
        <el-input v-model="form.name" />
      </el-form-item>

      <el-form-item label="Фонд">
        <el-input v-model="form.fund" />
      </el-form-item>

      <el-form-item label="Срок окончания">
        <el-col :span="11">
          <el-date-picker v-model="form.date1" type="date" placeholder="Pick a date" style="width: 100%;" />
        </el-col>
        <el-col :span="2" class="line">-</el-col>
        <el-col :span="11">
          <el-time-picker v-model="form.date2" type="fixed-time" placeholder="Pick a time" style="width: 100%;" />
        </el-col>
      </el-form-item>

      <el-form-item label="Минимальный размер гранта">
        <el-input v-model="form.minGrant" type="number" style="width: 20%;"/>
      </el-form-item>

      <el-form-item label="Максимальный размер гранта">
        <el-input v-model="form.maxGrant" type="number" style="width: 20%;"/>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="onSubmit">Сохранить</el-button>
        <el-button @click="onCancel">Отмена</el-button>

      </el-form-item>
    </el-form>
  </div>
</template>

<script>

export default {
  data() {
    return {

      form: {
        name:'',
        fund: '',
        date1:'',
        date2:'',
        minGrant:'',
        maxGrant:'',
      }
    }
  },
  methods: {
    onSubmit() {
      // const fd = new FormData();
      // fd.append('form-company', this.form-company)
      // axios.post('http//', fd)
      // .then(res =>{
      //   console.log(res)
      console.log(this.form)
      this.$message('submit!')
    },
  async createDocument() {
    const response = await fetch('https://localhost:7272/api/documents', {
      method: 'POST',
      headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
      body: JSON.stringify({
        name: this.form.name,
        age: parseInt(this.form.order, 10)
      })
    })
    if (response.ok === true) {
      const doc = await response.json()
      console.log(response)
    } else {
      const error = await response.json()
      console.log(error.message)
    }
  },
    onCancel() {
      this.$router.push('/dashboard');
    },
    namePhoto(){
      return(this.form.photo.split('\\').pop())
    },
  }
}

</script>

<style scoped>
.line{
  text-align: center;
}
.uploadPhoto{
  display:none;
}
.upload{
  display: inline-block;
  color: #FFF;
  background-color: #409EFF;
  cursor: pointer;
  text-align: center;
  border: 1px solid #DCDFE6;
  transition: .1s;
  border-radius: 4px;
  padding: 3px 10px;
}
.namePhoto{
  border: 1px solid #DCDFE6;
  border-radius: 4px;
  padding: 15px 10px;
  margin-left: 7px;
  color: #606266;
  font-weight: 500;
  font-size: 14px;
}
</style>
