<template>
  <div v-if="show" class="modal-shadow" @click.self="closeModal">
    <div class="modal">
      <div class="app-container">
        <el-form ref="form" :model="form" label-width="120px">


          <el-form-item label="Название">
            <el-input v-model="form.name"/>
          </el-form-item>

          <el-form-item label="Загрузить фото" >
            <el-input class="uploadPhoto"  type="file"  id="file"  v-model="form.photo"/>
            <label class="upload" for="file">
              Загрузить фото
            </label>
            <label class="namePhoto" v-if="form.photo !==''" display="none">{{namePhoto()}}</label>
          </el-form-item>



          <el-form-item label="Описание">
            <el-input v-model="form.description"   type="textarea" />
          </el-form-item>

          <el-form-item>
            <el-button type="primary" @click="onSubmit">Create</el-button>
            <el-button @click="onCancel">Cancel</el-button>
          </el-form-item>

        </el-form>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      show:false,
      form: {
        name: '',
        photo: '',
        description: '',
      }
    }
  },
  methods: {
    onSubmit() {
      this.$message('submit!');
      console.log(this.form);
    },
    onCancel() {
      this.show = false;
    },
    closeModal(){
      this.show = false;
    },
    namePhoto(){
      return(this.form.photo.split('\\').pop())
    },
  }
}
</script>





<style scoped>
.line{
  text-align: center;
}
.buttons{
  display: flex;
  justify-content: space-around;
  margin-right: 60px;

}
.modal-shadow{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.39);
}
.modal {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  min-width: 630px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.uploadPhoto{
  display:none;
}
.upload{
  display: inline-block;
  color: #FFF;
  background-color: #409EFF;
  cursor: pointer;
  text-align: center;
  border: 1px solid #DCDFE6;
  transition: .1s;
  border-radius: 4px;
  padding: 3px 10px;
}
.namePhoto{
  border: 1px solid #DCDFE6;
  border-radius: 4px;
  padding: 15px 10px;
  margin-left: 7px;
  color: #606266;
  font-weight: 500;
  font-size: 14px;
}
</style>
