<template>
  <div class="app-container">

    <el-form ref="form" :model="form" label-width="120px">

      <el-form-item label="Наименование документа">
        <el-input v-model="form.name" />
      </el-form-item>

      <el-form-item label="Загрузить документ">
      <el-input class="uploadPhoto"  type="file"  id="file"  v-model="form.photo"/>
      <label class="upload" for="file">
        Загрузить документ
      </label>
      <label class="namePhoto" v-if="form.photo !==''" display="none">{{namePhoto()}}</label>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="onSubmit">Сохранить</el-button>
        <el-button @click="onCancel">Отмена</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: '',
        photo: '',
      }
    }
  },
  methods: {
    onSubmit() {
      this.$message('submit!')
    },
  async createDocument() {
    const response = await fetch('https://localhost:7272/api/documents', {
      method: 'POST',
      headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
      body: JSON.stringify({
        name: this.form.name,
        age: parseInt(this.form.order, 10)
      })
    })
    if (response.ok === true) {
      const doc = await response.json()
      console.log(response)
    } else {
      const error = await response.json()
      console.log(error.message)
    }
  },
    onCancel() {
      this.$router.push('/dashboard');
    },
    namePhoto(){
      return(this.form.photo.split('\\').pop())
    },
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
.uploadPhoto{
  display:none;
}
.upload{
  display: inline-block;
  color: #FFF;
  background-color: #409EFF;
  cursor: pointer;
  text-align: center;
  border: 1px solid #DCDFE6;
  transition: .1s;
  border-radius: 4px;
  padding: 3px 10px;
}
.namePhoto{
  border: 1px solid #DCDFE6;
  border-radius: 4px;
  padding: 15px 10px;
  margin-left: 7px;
  color: #606266;
  font-weight: 500;
  font-size: 14px;
}
</style>

