<template>
  <div class="app-container">

    <el-form ref="form" :model="form" label-width="120px">

      <el-form-item label="Название">
        <el-input v-model="form.name" />
      </el-form-item>

      <el-form-item label="Генеральные директоры">
        <el-input v-model="form.CEOs" placeholder="..." type="textarea"/>
      </el-form-item>

      <el-form-item label="Направление">
        <el-input v-model="form.direction"  placeholder="..." type="textarea" />
      </el-form-item>

      <el-form-item label="О предприятии">
        <el-input v-model="form.aboutTheCompany" placeholder="..." type="textarea" />
      </el-form-item>

<!--      //ссылка на сайт-->

      <el-form-item label="Предметы деятельности">
        <el-input v-model="form.activity" placeholder="..." type="textarea" />
      </el-form-item>

      <el-form-item label="Сотрудники">
        <el-input v-model="form.employees" placeholder="..." type="textarea"/>
      </el-form-item>

      <el-form-item label="Вакансии">
        <el-input v-model="form.vacancies" placeholder="..." type="textarea" />
      </el-form-item>

      <el-form-item label="Контакты">
        <el-input v-model="form.contacts" placeholder="..." type="textarea" />
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="onSubmit">Сохранить</el-button>
        <el-button @click="onCancel">Отмена</el-button>
      </el-form-item>

    </el-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: '',
        CEOs: '',
        direction: '',
        aboutTheCompany: '',
        activity: '',
        employees: '',
        vacancies: '',
        contacts: ''
      }
    }
  },
  methods: {
    onSubmit() {
      this.$message('submit!')
    },
    async createDocument() {
      const response = await fetch('https://localhost:7272/api/documents', {
        method: 'POST',
        headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
        body: JSON.stringify({
          name: this.form.name,
          age: parseInt(this.form.order, 10)
        })
      })
      if (response.ok === true) {
        const doc = await response.json()
        console.log(response)
      } else {
        const error = await response.json()
        console.log(error.message)
      }
    },
    onCancel() {
      this.$router.push('/dashboard');
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

